<%= partial 'partials/masthead' %>

<div class="grid">
    <h2 class="ta">Activity</h2>
    <div id="cal-heatmap"></div>
    <div id="cal-heatmap-placeholder"></div>

    <script type="text/javascript">
        var cal = new CalHeatMap();
        cal.init({
            start: new Date(<%= (Time.now - 28927200).to_json %>),
            range: 12,
            domain: "month",
            subDomain: "day",
            data: <%= @statistics.to_json %>,
            onClick: function(date, nb) {
                var format = d3.time.format("%A %B %d, %Y");

                $("#cal-heatmap-placeholder").html("<b>" +
                    (nb === null ? 0 : nb) + "</b> activities, " +
                    format(new Date(date))
                );
            }
        });
    </script>

    <h2 class="ta">Notifications</h2>
    <%= partial 'partials/notifications' %>
</div>

<%= partial 'partials/footer' %>