<%= partial 'partials/masthead' %>

<div class="grid" itemscope itemtype="http://schema.org/Person">
    <div>
        <div class="col-8">
            <h2><b itemprop="name"><%= @user.realname %></b> (<%= @user.username %>)</h2>
        <% unless @user.bio.nil? || @user.bio == 0 %>
            <div class="md" itemprop="description"><%= Netflam::Markdown.render(@user.bio) %></div>
        <% else %>
            <i>null</i>
        <% end %>
        </div>
        <div class="col-4">
            <a href="/u/<%= @user.username %>">
                <img class="right" src="https://secure.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@user.email) %>?s=128&amp;d=identicon" alt="<%= @user.username %>" itemprop="image" />
            </a>
        </div>
    </div>
    <hr>

    <%= partial 'partials/stories' %>
</div>

<%= partial 'partials/footer' %>