<%= partial 'partials/masthead' %>

<div class="grid">
    <ol class="stories">
        <li data-id="<%= @story.id.to_s(32) %>">
            <div class="meter col-1">
                <div class="up <%= 'active' if Vote.exists?(:user_id => session[:user].id, :story_id => @story.id) if session[:auth] %>"></div>
                <div class="score <%= Meter.type(@story.id) %>"><%= Meter.score(@story.id) %></div>
            </div>
            <div class="details col-10">
                <span class="link">
                <% unless @story.url.nil? || @story.url == '' %>
                    <a href="<%= @story.url %>"><%= @story.description %></a>
                <% else %>
                    <a href="/s/<%= @story.id.to_s(32) %>/<%= @story.description.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') %>"><%= @story.description %></a>
                <% end %>
                </span>
                <span class="tags">
                <% for tag in @story.tags %>
                    <a href="/t/<%= tag.name %>" class="tag" id="<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                <% end %>
                </span>
                <span class="domain"><%= URI(@story.url).host %></span>
            <% unless @story.extended.nil? || @story.extended == '' %>
                <div class="extended md">
                    <%= Netflam::Markdown.render(@story.extended) %>
                </div>
            <% end %>
                <div>
                    <a href="/s/<%= @story.id.to_s(32) %>/<%= @story.description.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') %>"><%= Meter.score(@story.id) %> points and <%= @story.comments.count %> comments</a>
                    •
                    <label title="<%= @story.created_at %>"><%= Netflam::Functions.ago(@story.created_at.to_i) %></label>
                    by
                    <a href="/u/<%= @story.user.username %>"><%= @story.user.username %></a>
                <% if session[:user] == @story.user %>
                    •
                    <a href="/s/<%= @story.id.to_s(32) %>/edit" class="edit">edit</a>
                    •
                    <a href="#story" class="destroy">destroy</a>
                <% end %>
                </div>
            </div>
            <div class="author col-1">
                <a href="/u/<%= @story.user.username %>">
                    <img src="https://secure.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@story.user.email) %>?s=36&amp;d=identicon" alt="<%= @story.user.username %>" />
                </a>
            </div>
        </li>
    </ol>
</div>

<% unless @story.comments.nil? || @story.comments.count == 0 %>
<div class="grid">
    <div class="col-1"></div>
    <div class="col-10">
        <hr>
        <ol class="comments">
        <% for comment in @story.comments %>
            <li data-id="<%= comment.id.to_s(32) %>">
                <div class="col-9 md" id="<%= comment.id.to_s(32) %>">
                    <%= Netflam::Markdown.render(comment.extended) %>
                </div>
                <div class="col-3 details">
                    <a href="/u/<%= comment.user.username %>">
                        <img src="https://secure.gravatar.com/avatar/<%= Digest::MD5.hexdigest(comment.user.email) %>?s=36&amp;d=identicon" alt="<%= comment.user.username %>" class="right" />
                    </a>
                    <%= comment.user.username %><br>
                    <span><%= Netflam::Functions.ago(comment.created_at.to_i) %></span><br>
                <% if session[:user] == comment.user %>
                    <span class="left">
                        <a href="/c/<%= comment.id.to_s(32) %>/edit" class="edit">edit</a>
                        •
                        <a href="#comment" class="destroy">destroy</a>
                    </span>
                <% end %>
                </div>
            </li>
        <% end %>
        </ol>
    </div>
    <div class="col-1"></div>
</div>
<% else %>
<div class="grid">
    <div class="col-1"></div>
    <div class="col-10">
        <hr>
        <ol class="comments"></ol>
    </div>
    <div class="col-1"></div>
</div>
<% end %>

<% if session[:auth] %>
<div class="grid">
    <div class="col-1"></div>
    <div class="col-10">
        <form accept-charset="UTF-8" action="/c/new" method="POST">
            <input type="hidden" name="id" value="<%= @story.id.to_s(32) %>">
            <textarea name="extended" placeholder="Extended (markdown: on)" style="height: 55px;"></textarea>
            <button class="button">New</button>
        </form>
    </div>
    <div class="col-1"></div>
</div>
<% end %>

<%= partial 'partials/footer' %>