<%= partial 'partials/masthead' %>

<h2 class="ta">Tag - <a href="/t/<%= @tag %>" class="tag big" id="<%= @tag %>" title="<%= @tag %>"><%= @tag %></a></h2>

<div class="grid">
    <%= partial 'partials/stories' %>
</div>

<%= partial 'partials/footer' %>